.heroSection {
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
  background-color: var(--primary);
  border-bottom: 2px solid var(--foreground);
}

.blockContainer {
  padding: 4rem max(5vw, calc((100% - 800px) / 2));
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .heroSection {
    padding: 6rem 5rem;
  }

  .blockContainer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 3rem;
  }
}

/* Large desktop */
@media (min-width: 1121px) {
  .heroSection {
    padding: 8rem 6rem;
  }
}
