.heroSection {
  padding: 2rem;
  background-color: var(--secondary);
  border-bottom: 2px solid var(--foreground);
}

.heroCard {
  margin: 3rem auto;
}

.heroCardContainer > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: baseline;
}

.section {
  padding: 4rem 2rem;
  border-bottom: 2px solid var(--foreground);
}

.purpleSection {
  background-color: var(--secondary);
}

.greenSection {
  background-color: var(--primary);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectionContainer .aboutCard {
  margin-left: 0;
}

.aboutItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutHeadlineSm {
  position: relative;
  width: fit-content;
  max-width: 90%;
}

.aboutHeadlineSm:after {
  background-color: var(--primary);
  content: ' ';
  height: 65%;
  position: absolute;
  left: -0.625rem;
  top: 0.6rem;
  width: 100%;
  z-index: -1;
}

.aboutContent {
  margin-inline-start: 1rem;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bottomSection {
  padding: 6rem 4rem;
  background-color: var(--primary);
  margin: 0 auto;
  text-align: center;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .heroCard {
    margin: 5rem auto;
  }

  .section {
    padding: 6rem 4rem;
  }

  .sectionContainer {
    gap: 3rem;
  }

  .aboutContent {
    max-width: 80%;
  }

  .servicesContainer {
    gap: 2rem;
  }
}

/* Large desktop */
@media (min-width: 1121px) {
  .heroSection {
    padding: 6rem;
  }

  .section {
    padding: 6rem;
  }

  .sectionContainer {
    max-width: 50rem;
    margin: 0 auto;
  }

  .aboutContent {
    max-width: 75%;
    margin-inline-start: auto;
  }
}
