.container {
  max-width: 25rem;
  margin: 0 auto;
}

.box {
  z-index: 1;
  padding: 2rem;
  position: relative;
  background: var(--background);
  border: 2px solid var(--foreground);
  box-shadow: 4px 4px 0px var(--foreground);
}

.lgBox {
  border-width: 4px;
  box-shadow: 8px 8px 0px var(--foreground);
}

.mdBox {
  padding: 1.5rem;
}

.smBox {
  padding: 0.75rem;
  display: inline-block;
}

/* Tablet and Small Desktop */
@media (min-width: 701px) {
  .mdBox {
    padding: 2rem;
  }

  .smBox {
    padding: 0.75rem 1.5rem;
  }

  .container {
    max-width: 38rem;
  }
}

/* Large desktop */
@media (min-width: 1121px) {
  .container {
    max-width: 50rem;
  }
}
