.container {
  max-width: 25rem;
  margin: 0 auto;
}

.box-lg {
  padding: 2rem;
  position: relative;
  background: var(--background);
  border: 4px solid var(--foreground);
  box-shadow: 8px 8px 0px var(--foreground);
}

.box-sm {
  padding: 2rem;
  position: relative;
  background: var(--background);
  border: 2px solid var(--foreground);
  box-shadow: 4px 4px 0px var(--foreground);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .container {
    max-width: 38rem;
  }
}

/* Large desktop */
@media (min-width: 1121px) {
  .container {
    max-width: 50rem;
  }
}
