.footer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: stretch;
}

.footerContent {
  align-self: center;
  flex-grow: 2;
  flex-basis: 100%;
  border: 2px solid var(--foreground);
}

.footerContent p {
  padding: 1rem;
  margin-bottom: 0;
}

.footerLinksContainer {
  display: flex;
  flex-wrap: wrap;
}

.footerLinksGroup {
  display: flex;
  text-align: center;
  flex-grow: 1;
  border-top: 2px solid var(--foreground);
  border-inline-end: 2px solid var(--foreground);
}

.footerItem {
  padding: 1rem;
  border-inline-start: 2px solid var(--foreground);
  font-family: var(--font-mono);
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.footerItem a {
  white-space: nowrap;
  margin: 0 auto;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  p.homeLink,
  .footerContent p,
  .footerItem {
    padding: 1.5rem 2rem;
  }

  .footerLinksContainer {
    flex-grow: 1;
    border-inline-end: 2px solid var(--foreground);
  }

  .footerLinksGroup {
    border: none;
    border-top: 2px solid var(--foreground);
  }
}

/* Large desktop */
@media (min-width: 1121px) {
  .footer {
    border-top: 2px solid var(--foreground);
  }

  .footerContent {
    flex-basis: auto;
    border: none;
  }

  .footerLinksContainer,
  .footerLinksGroup {
    border: none;
  }
}
