.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: var(--foreground);
  gap: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.logoContainer {
  padding-right: 2rem;
  display: flex;
  flex-grow: 2;
  background-color: var(--background);
}

.homeLink {
  margin-bottom: 0;
  padding: 1rem;
}

.homeLink a {
  font-family: var(--font-mono);
  border-bottom: 0;
}

.homeLink a:hover {
  background-color: var(--green);
}

.linksContainer {
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
  gap: 2px;
}

.linksGroup {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 2px;
}

.navItem {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  background-color: var(--background);
}

.navItem a {
  white-space: nowrap;
  margin: 0 auto;
}

.desktopNavLink {
  display: none;
}

.mobileNavLink {
  display: inline-block;
}

/* Tablet and larger */
@media (min-width: 701px) {
  .linksContainer,
  .linksGroup,
  .navItem {
    flex-grow: 0;
  }

  .desktopNavLink {
    display: inline-block;
  }

  .mobileNavLink {
    display: none;
  }
}
