.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 2px solid var(--foreground);
}

.homeLink {
  margin-bottom: 0;
  padding: 1rem;
  flex-grow: 2;
  align-self: center;
}

.homeLink a {
  font-family: var(--font-mono);
  border-bottom: 0;
}

.homeLink a:hover {
  background-color: var(--green);
}

.navItem {
  padding: 1rem;
  border-inline-start: 2px solid var(--foreground);
  font-family: var(--font-mono);
  display: flex;
  align-items: center;
}

.navItem a {
  white-space: nowrap;
}

.desktopNavLink {
  display: none;
}

.mobileNavLink {
  display: inline-block;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .navItem {
    padding: 1.5rem 2rem;
  }

  .desktopNavLink {
    display: inline-block;
  }

  .mobileNavLink {
    display: none;
  }
}
