.quoteWrapper {
  display: flex;
  gap: 0.5rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contentWrapper blockquote::after {
  height: 85%;
  top: 10%;
}

.quoteMark {
  font-size: 2.5rem;
  line-height: 2rem;
  font-family: var(--font-mono);
  font-weight: 600;
}

.quoteBody {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.quoteBody p {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.0156em; /* 0.25px */
}

@media screen and (min-width: 701px) {
  .quoteWrapper {
    display: flex;
    gap: 1rem;
  }

  .contentWrapper blockquote::after {
    height: 65%;
    top: 20%;
  }

  .quoteBody p {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    letter-spacing: 0.0313em; /* 0.5px */
  }
}
