.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 6rem;
  min-height: 100vh;
}

.headline {
  font-size: 2.5rem;
}

.bodyLg {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.bodySm {
  font-size: 0.75rem;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
